<nav class="navbar">
      <%= link_to 'LOGO', root_path %>

      <ul>
        <li><%= link_to '新增履歷', new_resumes_path %></li>
        <li><%= link_to '關於', about_path %></li>
        <!-- link_to = View助理 = View Helper = Helper -->
        <li><%= link_to '聯絡', contact_path %></li>
      </ul>
    </nav>