.field {
  margin: 10px;
  display: flex;
    justify-content: flex-start;
    align-items: center;
  label {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    width: 100px;
  }
}
.error-message {
  color: #f00;
  ul {
    list-style: none;
  }
}
.field_with_errors {
  display: inline-block;
  margin: 0px;
  input {
    border: 1px solid #f00;
  }
}
.container {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 10px;
  .card {
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 10px;
    // flex-wrap: wrap;
    margin-top: 20px;

    .resume-card {
      width: 50%;
      background-color: #aaf;
      margin-bottom: 20px;
      padding: 10px;
      
      .pic {
        img {
          width: 100%;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .info {
        overflow: hidden;
        .info-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 18px;
            padding: 5px;
          }
        }
        a {
            text-decoration: none;
            color: #000;
          }
  
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .action {
          display: flex;
          p {
            margin: 4px 8px;
            padding: 4px;
            background-color: #008800ff;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              background-color: #008800aa;
            }
          }
          p:nth-child(3) {
            background-color: #dd0000ff;
            &:hover {
              background-color: #dd0000aa;
            }
          }
        }
      }
    }
    
    .btn {
      text-decoration: none;
    }
    
  }
  
}
