<h1>履歷列表</h1>

<%= link_to '新增履歷', new_resume_path %>

<form>
  <input type="text" name="keyword" value="<%= params[:keyword] %>" placeholder="請輸入關鍵字...">
  <input type="submit" value="搜尋">
</form>

<div class="resume-container">
  <!-- <%=  @resumes %> -->
  
<%= render partial: "resume", collection: @resumes %>

</div>
  